.contenedor{
    background: rgba(212, 202, 174, 0.918);
    margin-left: 20px;
    margin-top: 25px;
    height: 350px;
    width: 310px;
    backdrop-filter: blur(6px);
    border: 10px solid #1c1d1c;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.096) 0px 7px 29px 0px;
    border: 3px solid black;
    color: #000000;
    opacity: 100%;
    align-items: center;
    text-decoration: none;
}

.tiulo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    font-weight: 250px;
    line-height: 50px;
    margin: 5px;
}

.img{
    height: 200px;
    width: 230px;
    border: 35px;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 15px;
}

.ul{
    line-height: 1%;
}