.contenedor{
    display: flex;
    min-height: 100vh;
    min-width: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: center;
    align-self: center;      
    background-image: url('https://i.pinimg.com/originals/35/97/6a/35976a472e0ae3152b39b080760909db.jpg');
   
}

.titulo{
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
    color: white;
    font-size: 250%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
}

.boton{
    color: aliceblue;
    background-color:black;
    border: 2px solid black;
    border-radius: 15px;
    padding: 16px 24px;
    text-align: center;    
}

.boton:hover{
    color:black;
    background-color:aliceblue;    
}